
<div class="min-h-screen bg-gray-100 p-4">
    <!-- Contenedor principal -->
    <div class="max-w-4xl mx-auto bg-white rounded-xl shadow-md p-6">
      
      <!-- Información del Usuario -->
      <div class="flex justify-between items-center mb-6">
        <div>
          <h2 class="text-2xl font-semibold text-gray-800">Bienvenido, {{userName}}</h2>
          <p class="text-sm text-gray-500">Correo: {{ userCorreo }}</p>
        </div>
        <button
        (click)="cerrarSesion()"
        
        class="bg-blue-500 text-white px-4 py-2 rounded-md">Cerrar sesión</button>
      </div>
  
      <!-- Estado actual del dinero -->
      <div class="bg-blue-50 p-6 rounded-lg shadow-lg mb-6">
        <h3 class="text-xl font-semibold text-gray-700">Estado actual de tu dinero</h3>
        <div class="mt-4">
          <p class="text-2xl font-bold text-green-600">$ {{userSaldo}} </p>
          <p class="text-sm text-gray-500">Saldo disponible en tu cuenta</p>
        </div>
      </div>




      <!-- Texto motivacional -->
      <div class="bg-green-50 p-6 rounded-lg shadow-lg mb-6">
        <h3 class="text-xl font-semibold text-gray-700">¡Haz que tu dinero trabaje para ti!</h3>
        <p class="mt-2 text-gray-600">
          Invertir es el primer paso para alcanzar tus metas financieras y construir un futuro lleno de oportunidades. 
          Deja de preocuparte por el ahorro tradicional y empieza a disfrutar de los beneficios de hacer crecer tu dinero. 
          ¡Es hora de dar el salto hacia el éxito financiero!
        </p>
      </div>
  
      <!-- Advertencia sobre riesgos -->
      <div class="bg-yellow-50 p-4 rounded-lg shadow-lg">
        <h3 class="text-lg font-semibold text-yellow-700">Aviso importante</h3>
        <p class="mt-2 text-gray-600">
          Como toda inversión, existen pequeños riesgos, pero no te preocupes: con decisiones bien informadas, 
          las posibilidades de éxito son mucho mayores. Recuerda que el crecimiento financiero siempre implica dar 
          pasos estratégicos. ¡Confía en el proceso y en tu capacidad para decidir!
        </p>
      </div>
  
  
     
    </div>
  </div>
  